/* You can add global styles to this file, and also import other style files */

// html,
// body {
//   height: 100%;
// }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--mat-table-background-color, var(--mat-sys-surface));
  color: var(--text-color);
}
:root {
  --text-color: black;
  --mat-table-row-item-label-text-color: var(--text-color);
  --bg-dark-mode-btn: #222;
  --text-dark-mode-btn: #faf9fd;
  --navbar-bg-color: #eee;
  --user-card-shadow-color: rgba(0, 0, 0, 0.08);
}
.dark {
  --mat-table-background-color: #222;
  --mat-sys-surface: #222;
  --text-color: white;
  --mat-table-row-item-label-text-color: white;
  --bg-dark-mode-btn: #faf9fd;
  --text-dark-mode-btn: #222;
  --navbar-bg-color: rgb(76, 76, 76);
  --user-card-shadow-color: rgba(255, 255, 255, 0.08);
}
.loader {
  width: 60px;
  height: 60px;
  border: 3px solid var(--text-color);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-bottom-color: steelblue;
}
.sec-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.website-btn {
  background-color: rgb(69, 164, 69);
  text-decoration: none;
  color: white;
  padding: 0.3rem;
  border-radius: 5px;
}
.show-btn {
  color: white;
  background-color: skyblue;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 0.3rem;
}
button {
  cursor: pointer;
}
